* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
	background: pink;
	/* background: url('./8.jpg') steelblue no-repeat center center fixed; */
	color:steelblue;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 100%;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
/* body {
	background-color: #e8f3f8;
	font: 1em/1.5 san-serif;
} */

h1 {
	text-align: center;
	font-size: 50px;
	color:steelblue;
}

form {
	margin: 20px auto;
	width: 320px;
	color: steelblue;
}

input {
	padding: 10px;
	font-size: inherit;
}

input[type="text"] {
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue;
	background: #faf6d9;
}

input[type="email"] {
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue;
	background: #faf6d9;
}

input[type="password"] {
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue;
	background: #faf6d9;
}

input[type="radio"] {
	margin: 0 8px 25px 18px;
}

input[type="radio"]:first-child {
	margin-left: 0;
}

input[type="submit"] {
	width: 344px;
	height: 45px;
	border: none;
	background: steelblue;
	color: white;
}

input[type="submit"]:focus {
	width: 344px;
	height: 45px;
	border: solid steelblue;
	background: white;
	color: steelblue;

input: focus {
	background: white;
}

input[type="radio"]:checked +label {
	font-weight: bold;
	font-size: 18px
}
.box_in{
	background: rgba(0, 0, 0, 0.55);
	padding:20px;
	border:1px solid rgba(255, 255, 255, 0.55);
	border-radius:5px;
	overflow:hidden;
	 /*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);*/
}
.box_in_diary{
	background: rgba(0, 0, 0, 0.55);
	padding:12px;
	border:1px solid rgba(255, 255, 255, 0.55);
	border-radius:5px;
	margin-bottom:10px;
	 /*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);*/
}
.box_in:hover{
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);*/
}
.box_in h3{
color:#fff;
font-weight:300;
font-size:20px;
   margin: 0 0 12px;
}
.line{
	height:1px;
	width:260px;
	margin: 20px auto;
	background: steelblue;
}