<!DOCTYPE html>
<html>
<head>
  <title>My Diary :: View Entry</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="header">
  <h1>My Diary</h1>
  <p>Welcome to my diary
.</p>
</div>

<div class="topnav">
    <a href="./add.html">Add New Entry</a>
    <a href="./login.html">Log In</a>
    <a href="./register.html">Register</a>
    <a href="./index.html" style="float:right">View Entries</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <main class="container">
      <div class="row"><div class="col-lg-12">
      <h1 class="heading text-center">View entry</h1>
      <div class="line"></div>
      <h5 class="heading text-center">&nbsp;</h5>
      </div>
            <div>
              <div class="box_in">
      <small style="font-size:12px;line-height:16px;"><b> 12-07-2018 14:41:00 </b><br>
      Originally posted:<b> 12-07-2018 03:53:44</b> (UTC)</small>

      <h2>Hey </h2>
      <hr>

      <p>Hello

      </p></div></div>

      <div>
      <div class="box_in"><div>
      <a href="./delete.html">Delete</a>
      <a href="./modify.html">Edit</a></div></div>
      </div></div>
      </main>
    </div>
  </div>
  <div></div>
</div>

<div class="footer">
  <div style="float:left;width:100%;"> © My Diary. All rights reserved.
  </div>
  <br>
</div>

</body>
</html>
